@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a : 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 5px;
    position: relative;
}

.close{
    position: absolute;
    right: 25px;
    top: 25px;
    display: none;
    cursor: pointer;
}

.home ul li{
    list-style: none;
    display: flex;
    width: 15px;
    gap: 10px;
    padding-top: 13px;
    font-weight: bold;
}

.library{
    min-height: 80vh;
    position: relative;
}

.heading{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 23px 10px;
    font-size: 13px;
}

.heading img{
    width: 30px;
}

.songList{
    height: 444px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    /* list-style: none; */
    display: flex;
    justify-content: space-between;
    gap: 12px;
    border: 1px solid;
    margin: 12px 0;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}

.playNow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.playNow span{
    width: 65px;
    font-size: 15px;
    padding: 15px;
}


.footer{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    padding: 10px 0;
}
.footer a{
    color: grey;
    font-size: 10px;
    
    
}

.right{
    width: 75vw;
    margin: 10px 5px;
    position: relative;    
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 33, 33);
}

.nav{
    display: flex;
    gap: 12px;
}
.hamburger{
    display: none;
    cursor: pointer;
}

.header > *{
    padding: 20px ;
}

.buttons > *{
    margin: 0 12px;
}

.signupBtn{
    background-color: rgb(34, 33, 33);
    color: rgb(211, 202, 202);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.signupBtn:hover{
    color: white;
    font-size: 17px;
}

.loginBtn{
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 14px;
}

.loginBtn:hover{
    font-weight: bold;
    font-size: 15px;
}

.spotifyPlaylists{
    padding: 16px;
}
.spotifyPlaylists h1{
    padding: 16px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 70vh;
    overflow-y: auto;
}

.card{
    width: 200px;
    border-radius: 5px;
    background-color: #252525;
    padding: 10px;
    position: relative;
    transition: all 1s;
    cursor: pointer;
}

.card:hover{
    background-color: rgb(58, 58, 58);
    --a : 1;
}

.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    position: absolute;
    bottom: 108px;
    right: 15px;
    opacity: var(--a);
    transition: all 1s ease-out;
}


.playbar{
    position: fixed;
    bottom: 30px;
    width: 70vw;
    background-color: rgba(136, 148, 136, 0.91);
    padding: 12px;
    border-radius: 10px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboveBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeVol{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 250px; */
}

.volume{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.volume img{
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.songInfo , .songTime{
    color: black;
    padding: 0 15px;
}

.songInfo{
    width: 250px;
}
.songTime{
    width: 100px;
}

.songButtons img{
    cursor: pointer;
}

.seekbar{
    height: 5px;
    width: 97%;
    background-color: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
}

.circle{
    height: 13px;
    width: 13px;
    border-radius: 8px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songButtons{
    display: flex;
    justify-content: center;
    gap: 15px;
}

@media screen and (max-width: 1400px) {
    .left{
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 0.5s;
        z-index: 2;
        width: 350px;
        padding: 0;
        height: 100vh;
    }
    .close{
        display: block;
    }
    .right{
        width: 100vw;
        margin: 0;
    }

    .loginBtn{
        width: 65px;
    }

    .cardContainer{
        margin: 0;
        justify-content: center;
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 25vh;
    }


    .card{
        width: 45vw;
    }

    .playbar{
        width: calc(100vw - 60px);
        z-index: 1;
    }

    .aboveBar{
        margin: 10px 0;
        flex-direction: column;
        gap: 10px;
    }

    .timeVol{
        flex-direction: column;
    }    

    .songInfo , .songTime{
        font-size: 12px;
        width: auto;
    }

    .songButtons img{
        width: 30px;
    }
    .seekbar{
        width: calc(100vw - 65px);
    }
    .hamburger{
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .card{
        width: 100%;
    }

    .left{
        width: 100vw;
    }

}

@media screen and (max-width: 350px){
    .left{
        left: -200%
    }
    .header> *{
        padding: 2px;
    }
    
    .buttons > *{
        margin: 0 6px;
    }
}